
/*---------main page------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Tahoma, sans-serif, Tahoma, sans-serif, 'Times New Roman', Times, serif, sans-serif;
    background-color: #F4C9FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    width: 300px; /* Adjust as needed */
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #e60c72;
}

button {
    background-color: #a600ff; /* Bootstrap primary color */
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #43057d; /* Darker shade on hover */
}

/*--------------Log In-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    background-color: #ff00ae;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #F4C9FA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 150px; /* Adjust as needed */
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #aa00ff;
}

.input-container {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cdcbcb;
    border-radius: 5px;
}

button {
    background-color: #aa00ff; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5e06aa; /* Darker shade on hover */
}

p {
    margin-top: 20px;
}

a {
    color: #ff00ae;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*-------------Profile Page-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ff00ae;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust as needed */
    text-align: center;
}

.profile-header {
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    color: #666;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-actions button {
    background-color: #8000ff; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-actions button:hover {
    background-color: #420769; /* Darker shade on hover */
}

.profile-header {
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-info {
    margin-top: 20px;
}

.profile-actions {
    margin-top: 20px;
    text-align: center;
}

.toggle-switch {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.toggle-switch input {
    display: none;
}

.toggle-slider {
    width: 34px;
    height: 20px;
    background-color: #a20ec0;
    border-radius: 34px;
    position: relative;
    transition: background-color 0.2s;
}

.toggle-slider:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(179, 20, 211);
    border-radius: 50%;
    transition: transform 0.2s;
}

input:checked + .toggle-slider {
    background-color: #ea1bce;
}

input:checked + .toggle-slider:before {
    transform: translateX(14px);